[package]
name = "client"
version = "1.0.0"
edition = { workspace = true }
rust-version = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-std = { workspace = true }
error-stack = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }

[lints]
workspace = true
