# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

Cargo.lock
**/.DS_Store
**/.dockerignore
**/.git
**/.gitignore
**/.vscode
**/*.rs.bk
**/Dockerfile*
README.md

# Build Results
/target
/schema
/artifacts

