[submodule "ampd-proto"]
	path = ampd/ampd-proto
	url = https://github.com/axelarnetwork/grpc-protobuf.git  #TODO: change this later to the correct repo
	branch = main
	fetchRecurseSubmodules = true

[submodule "ampd-proto"]
	path = packages/ampd-sdk/ampd-proto
	url = https://github.com/axelarnetwork/grpc-protobuf.git  #TODO: change this later to the correct repo
	branch = main
	fetchRecurseSubmodules = true
