[workspace]
members = ["ampd", "contracts/*", "packages/*", "integration-tests"]

[workspace.dependencies]
connection-router = { version = "^0.1.0", path = "contracts/connection-router" }
cosmwasm-std = "1.3.3"
cosmwasm-schema = "1.3.3"
cosmwasm-storage = "1.3.3"
cw-storage-plus = "1.1.0"
error-stack = { version = "0.4.0", features = ["eyre"] }
events = { version = "^0.1.0", path = "packages/events" }
events-derive = { version = "^0.1.0", path = "packages/events-derive" }
axelar-wasm-std = { version = "^0.1.0", path = "packages/axelar-wasm-std" }
axelar-wasm-std-derive = { version = "^0.1.0", path = "packages/axelar-wasm-std-derive" }
itertools = "0.11.0"
voting-verifier = { version = "^0.1.0", path = "contracts/voting-verifier" }
multisig = { version = "^0.1.0", path = "contracts/multisig" }
multisig-prover = { version = "^0.1.0", path = "contracts/multisig-prover" }
service-registry = { version = "^0.1.0", path = "contracts/service-registry" }
aggregate-verifier = { version = "^0.1.0", path = "contracts/aggregate-verifier" }
gateway = { version = "^0.1.0", path = "contracts/gateway" }
gateway-api = { version = "^0.1.0", path = "packages/gateway-api" }
connection-router-api = { version = "^0.1.0", path = "packages/connection-router-api" }
report = { version = "^0.1.0", path = "packages/report" }
rewards = { version = "^0.1.0", path = "contracts/rewards" }
thiserror = "1.0.47"
serde = { version = "1.0.145", default-features = false, features = ["derive"] }
serde_json = "1.0.89"
schemars = "0.8.10"

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
incremental = false
overflow-checks = true
