[package]
name = "interchain-token-service-std"
version = "1.0.0"
rust-version = { workspace = true }
license = "MIT OR Apache-2.0"
edition = { workspace = true }
description = "Axelar cosmwasm standard library crate"

exclude = ["contract.wasm", "hash.txt"]

[dependencies]
axelar-wasm-std = { workspace = true }
borsh = { workspace = true }
client = { workspace = true }
cosmwasm-schema = { workspace = true }
cosmwasm-std = { workspace = true }
cw-storage-plus = { workspace = true }
error-stack = { workspace = true }
hex = { workspace = true }
report = { workspace = true }
router-api = { workspace = true }
schemars = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }

[lints]
workspace = true
