[alias]
wasm = "build --release --lib --target wasm32-unknown-unknown --locked --workspace --exclude ampd --exclude integration-tests"
unit-test = "test --lib"
clippy-check = "clippy --all-targets -- -D warnings -A deprecated"
fmt-check = "fmt --all --check"
sort-check = "sort --workspace --check --check-format"

[build]
rustflags = ["--cfg", "tracing_unstable"]

[net]
git-fetch-with-cli = true