[package]
name = "axelar-wasm-std"
version = "1.0.0"
rust-version = { workspace = true }
license = "MIT OR Apache-2.0"
edition = { workspace = true }
description = "Axelar cosmwasm standard library crate"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["rlib"]

[features]
derive = ["dep:axelar-wasm-std-derive"]

[dependencies]
aleo-network-config = { workspace = true }
alloy-primitives = { workspace = true }
axelar-wasm-std-derive = { workspace = true, optional = true }
bech32 = { workspace = true }
bs58 = { workspace = true }
const-str = { workspace = true }
cosmwasm-schema = { workspace = true }
cosmwasm-std = { workspace = true }
cw-storage-plus = { workspace = true }
cw2 = { workspace = true }
error-stack = { workspace = true }
flagset = { version = "0.4.3", features = ["serde"] }
into-inner-derive = { workspace = true }
itertools = { workspace = true }
lazy_static = "1.4.0"
num-traits = { workspace = true }
regex = { version = "1.10.0", default-features = false, features = [
  "perf",
  "std",
] }
report = { workspace = true }
schemars = "0.8.10"
semver = { workspace = true }
serde = { version = "1.0.145", default-features = false, features = ["derive"] }
serde_json = "1.0.89"
serde_with = { version = "3.11.0", features = ["macros"] }
sha3 = { workspace = true }
starknet-checked-felt = { workspace = true }
stellar-xdr = { workspace = true }
strum = { workspace = true }
sui-types = { workspace = true }
thiserror = { workspace = true }
valuable = { version = "0.1.0", features = ["derive"] }

[dev-dependencies]
assert_ok = { workspace = true }
cw-multi-test = { workspace = true }
goldie = { workspace = true }
hex = { workspace = true }
rand = { workspace = true }
router-api = { workspace = true }

[lints]
workspace = true
