[package]
name = "events"
version = "1.0.0"
rust-version = { workspace = true }
edition = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ampd-proto = { workspace = true }
axelar-wasm-std = { workspace = true }
base64 = "0.21.2"
cosmrs = { version = "0.14.0", features = ["cosmwasm"] }
error-stack = { workspace = true }
serde_json = "1.0.105"
tendermint = "0.35.0"
thiserror = { workspace = true }

[lints]
workspace = true
