[package]
name = "events"
version = "1.0.0"
rust-version = { workspace = true }
edition = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ampd-proto = { workspace = true }
axelar-wasm-std = { workspace = true }
base64 = "0.21.2"
cosmrs = { workspace = true, features = ["cosmwasm"] }
error-stack = { workspace = true }
serde_json = { workspace = true }
tendermint = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
goldie = { workspace = true }

[lints]
workspace = true
