[package]
name = "msgs-derive"
version = "1.0.0"
edition = { workspace = true }
rust-version = { workspace = true }
license = "MIT OR Apache-2.0"

[lib]
proc-macro = true

[dependencies]
axelar-wasm-std = { workspace = true }
cosmwasm-schema = { workspace = true }
cosmwasm-std = { workspace = true }
error-stack = { workspace = true }
itertools = { workspace = true }
proc-macro2 = { workspace = true }
quote = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
syn = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
client = { workspace = true }
goldie = { workspace = true }

[lints]
workspace = true
