[package]
edition = "2021"
name = "ampd"
version = "0.4.0"
rust-version = { workspace = true }
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.59"
axelar-wasm-std = { workspace = true }
axum = "0.7.5"
base64 = "0.21.2"
bcs = "0.1.5"
borsh = { version = "1.2.0", features = ["derive"] }
clap = { version = "4.2.7", features = ["derive", "cargo"] }
config = "0.13.2"
cosmrs = { version = "0.14.0", features = ["cosmwasm", "grpc"] }
cosmwasm-std = { workspace = true, features = ["stargate"] }
deref-derive = "0.1.0"
dirs = "5.0.1"
ecdsa = { version = "0.16.6" }
enum-display-derive = "0.1.1"
error-stack = { workspace = true }
ethers = { version = "2.0.8", features = ["rustls"] }
events = { workspace = true }
events-derive = { workspace = true }
evm-gateway = { workspace = true }
futures = "0.3.25"
hex = { version = "0.4.3", features = ["serde"] }
humantime-serde = "1.1.1"
itertools = { workspace = true }
k256 = { version = "0.13.1", features = ["ecdsa"] }
mockall = "0.11.3"
move-core-types = { git = "https://github.com/mystenlabs/sui", tag = "mainnet-v1.14.2" }
multisig = { workspace = true, features = ["library"] }
num-traits = { workspace = true }
prost = "0.11.9"
prost-types = "0.11.9"
report = { workspace = true }
reqwest = { version = "0.11.24", default-features = false }
router-api = { workspace = true }
serde = { version = "1.0.147", features = ["derive"] }
serde_json = { workspace = true }
serde_with = "3.2.0"
service-registry = { workspace = true }
solana-account-decoder = "1.18.1"
solana-client = "1.18.1"
solana-program = "1.18.1"
solana-sdk = "1.18.1"
solana-rpc-client-api = "1.18.1"
solana-version = "1.18.1"
solana-transaction-status = "1.18.1"
sha3 = { workspace = true }
sui-json-rpc-types = { git = "https://github.com/mystenlabs/sui", tag = "mainnet-v1.14.2" }
sui-types = { git = "https://github.com/mystenlabs/sui", features = [
  "test-utils",
], tag = "mainnet-v1.14.2" }
# Need to switch to our own fork of tendermint and tendermint-rpc due to event attribute value being nullable.
# Can switch back once https://github.com/informalsystems/tendermint-rs/issues/1216 is resolved.
# The fix for the issue is at https://github.com/axelarnetwork/tendermint-rs/commit/e97033e20e660a7e707ea86db174ec047bbba50d.
tendermint = { git = "https://github.com/axelarnetwork/tendermint-rs.git", branch = "v0.33.x" }
tendermint-rpc = { git = "https://github.com/axelarnetwork/tendermint-rs.git", branch = "v0.33.x", features = [
  "http-client",
] }
thiserror = { workspace = true }
tokio = { version = "1.22.0", features = ["signal"] }
tokio-stream = { version = "0.1.11", features = ["sync"] }
tokio-util = "0.7.8"
toml = "0.5.9"
tonic = "0.9.2"
tracing = { version = "0.1.37", features = ["valuable", "log"] }
tracing-core = { version = "0.1.30", features = ["valuable"] }
tracing-subscriber = { version = "0.3.16", features = ["json", "valuable"] }
typed-builder = "0.18.2"
url = "2.3.1"
valuable = { version = "0.1.0", features = ["derive"] }
valuable-serde = { version = "0.1.0", features = ["std"] }
voting-verifier = { workspace = true }
gmp-gateway = { git = "https://github.com/eigerco/solana-axelar.git", branch = "main" }
axelar-message-primitives = { git = "https://github.com/eigerco/solana-axelar.git", branch = "main" }

lru = "0.12.3"

[dev-dependencies]
elliptic-curve = "0.13.5"
generic-array = "0.14.7"
multisig = { workspace = true, features = ["test", "library"] }
rand = "0.8.5"
random-string = "1.0.0"

[build-dependencies]
ethers = "2.0.8"
tonic-build = "0.8.3"

[patch.crates-io]
# aes-gcm-siv 0.10.3 and curve25519-dalek 3.x pin zeroize to <1.4
# which conflicts with other dependencies requiring zeroize ^1.5.
# We’re patching both crates to unpin zeroize.
#
# For aes-gcm-siv we’re using the same revision Solana uses in
# an (as of now) unreleased commit, see
# https://github.com/solana-labs/solana/commit/01f1bf27994d9813fadfcd134befd3a449aaa0bd
#
# For curve25519-dalek we’re using commit from a PR, see
# https://github.com/dalek-cryptography/curve25519-dalek/pull/606
aes-gcm-siv = { git = "https://github.com/RustCrypto/AEADs", rev = "6105d7a5591aefa646a95d12b5e8d3f55a9214ef" }
curve25519-dalek = { git = "https://github.com/dalek-cryptography/curve25519-dalek", rev = "8274d5cbb6fc3f38cdc742b4798173895cd2a290" }
ahash = "=0.8.6"
[lints]
workspace = true
